@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Raleway");
#app {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Amatic SC', serif;
}

@media (min-width: 992px) {
  form.custom-horizontal .btn {
    margin-top: 26px;
  }
}

@media (min-width: 992px) {
  .btn.btn-top-mar {
    margin-top: 26px;
  }
}

.inline {
  display: inline-block;
}

.danger-link {
  color: #d9534f;
}

table th, table td {
  padding: 8px;
}

img.img-thumbnail {
  border: 2px solid #ccc;
  margin-right: 18px;
}

.post {
  padding: 8px;
  border-bottom: 1px solid #bbb;
}

.badge {
  background-color: #525251;
  color: #fff;
}

.report-text {
  padding-top: 5%;
  color: #e7908e;
}

.report-text a {
  color: #ccc !important;
  text-decoration: underline;
}

.report-topic {
  padding-right: 6px;
}

.msg-container {
  clear: both;
}

.msg-container:last-of-type {
  margin-bottom: 30px;
}

.msg-container .msg {
  margin: 10px;
  padding: 16px 20px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  color: #fff;
}

.msg-container .msg.recipient {
  background: #3498db;
}

.msg-container .msg.sender {
  background: #2ecc71;
}

.msg-form {
  clear: both;
}

.wrapper {
  width: 100%;
  margin: 50px auto;
}

p.copyright {
  margin: 15px 0 0;
}

.info-index {
  margin-bottom: 20px;
  max-height: 400px;
  overflow: hidden;
  background-color: black;
  height: 100%;
}

.info-index .info-text {
  box-sizing: border-box;
  padding: 62px;
  color: white;
}

.info-index .info-text h2 {
  margin: 0 !important;
}

.info-index .info-img {
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
}

.info-index .info-img .img {
  width: 100%;
}

footer {
  position: absolute;
  bottom: -100px;
  padding: 2rem;
  background-color: #efefef;
  text-align: center;
  height: 100px;
  width: 100%;
}

#edit .wrapper {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 20%;
}

.pin {
  margin-bottom: 2%;
}

.centered {
  text-align: center;
}

#join, #login, #register, #messages, #project-create {
  background: #15191E;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #15191E, #696E77);
  /* Standard syntax (must be last) */
}

#login, #register, #messages, #project-create {
  width: 100vw;
  min-height: 100vh;
}

#login .login-form, #register .login-form, #messages .login-form, #project-create .login-form {
  margin-top: 80px;
  text-align: center;
}

#login form, #register form {
  background-color: #fff;
  padding: 30px;
  margin-top: 10vh;
}

#login form .btn, #register .btn {
  margin-bottom: 5px;
}

#messages {
  height: 100%;
}

#messages .form {
  padding: 1em 0;
  background-color: #ffffff;
}

#messages .form .btn {
  margin-bottom: 5px;
}

#project-create form {
  background-color: #ffffff;
  margin-top: 2%;
}

input:focus {
  border-bottom: 1px solid #696E77 !important;
  box-shadow: 0 1px 0 0 #696E77 !important;
}

input:focus + label {
  color: #696E77 !important;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 4em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  h3 {
    font-size: 2em !important;
  }
}

.projects-container {
  padding-top: 5%;
  background-color: #EC5261;
  min-height: 100vh;
  height: 100%;
}

.projects-container .btn-create {
  background-color: #ffffff !important;
  color: #EC5261 !important;
}

.projects-container .input-field {
  width: 60%;
}

.projects-container .input-field label {
  color: #ffffff;
}

.projects-container .input-field input[type=search] {
  position: relative;
  margin-left: 5%;
}

.projects-container h1 {
  color: #ffffff !important;
}

.projects-container h3 {
  color: #2D3035 !important;
  text-align: center;
}

.projects-container .card-image img {
  max-height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.projects-container .tracks {
  padding: 5px;
  background-color: #2D3035;
  border-radius: 3px;
}

.projects-container .project-info {
  margin-bottom: 50px;
}

.player {
  background-color: #2d3035;
  color: #ffffff;
}

.player .playlist-toolbar .btn-group {
  display: inline;
}

#playlist {
  clear: both;
  margin-bottom: 3em;
}

#addTrack {
  display: none;
}

.playlist {
  clear: both;
}

.playlist .playlist-time-scale {
  height: 30px;
}

.playlist .playlist-tracks {
  overflow: hidden !important;
  display: block;
}

.playlist .channel {
  background: #FFFFFF;
  border-bottom: #ffa500 1px;
}

.playlist .channel-progress {
  background: #ffa500;
}

.playlist .cursor {
  background: orange;
  z-index: 0 !important;
}

.playlist .wp-fade {
  background-color: rgba(0, 0, 0, 0.1);
}

.playlist .state-cursor,
.playlist .state-select {
  cursor: text;
}

.playlist .state-shift {
  cursor: ew-resize;
}

.playlist .selection.point {
  background: red;
}

.playlist .selection.segment {
  background: rgba(0, 0, 0, 0.1);
}

.playlist .waveform {
  border-bottom: #ffa500 1px;
  overflow: hidden;
}

.playlist .channel-wrapper.silent .channel {
  opacity: 0.3;
}

@media only screen and (min-width: 993px) {
  .playlist .controls {
    width: 10% !important;
  }
  .playlist .waveform {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 601px) {
  .playlist .controls {
    width: 28% !important;
  }
  .playlist .waveform {
    margin-left: 28%;
  }
}

@media only screen and (max-width: 601px) {
  .playlist .controls {
    width: 47% !important;
  }
  .playlist .waveform {
    margin-left: 47%;
  }
}

.playlist .controls {
  z-index: 0 !important;
  background: #ffffff;
  text-align: center;
  overflow: hidden;
  /* Special styling for WebKit/Blink */
  /* All the same stuff for Firefox */
  /* All the same stuff for IE */
}

.playlist .controls .btn-mute {
  color: #9e9e9e !important;
  background-color: #ffffff !important;
  padding: 0 1rem !important;
}

.playlist .controls .btn-mute.active {
  background-color: #9e9e9e !important;
  color: #ffffff !important;
}

.playlist .controls .btn-solo {
  color: #2196F3 !important;
  padding: 0 1rem !important;
  background-color: #ffffff !important;
}

.playlist .controls .btn-solo.active {
  background-color: #2196F3 !important;
  color: #ffffff !important;
}

.playlist .controls header {
  overflow: hidden;
  color: white;
  background-color: #DA2C3D;
  margin-bottom: 1em;
  height: 40px;
  line-height: 40px;
}

.playlist .controls .thumb {
  display: none;
}

.playlist .controls .volume-slider {
  margin-top: 28px;
  width: 90%;
}

.playlist .controls input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

.playlist .controls input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.playlist .controls input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.playlist .controls input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.playlist .controls input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

.playlist .controls input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.playlist .controls input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.playlist .controls input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.playlist .controls input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

.playlist .controls input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.playlist .controls input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.playlist .annotations .annotations-boxes {
  text-align: center;
}

.playlist .annotations .annotation-box {
  border: 2px dashed grey;
  padding: 0 10px;
}

.playlist .annotations .annotation-box .resize-handle {
  background: grey;
  opacity: 0.3;
  cursor: ew-resize;
}

.playlist .annotations .annotation-box .id {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.playlist .annotations .annotations-text {
  font-size: 19px;
  font-weight: 300;
  margin-top: 1em;
  height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
}

.playlist .annotations .annotations-text .annotation {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.playlist .annotations .annotations-text .annotation span {
  margin: 0.3rem 0.6rem;
}

.playlist .annotations .annotations-text .annotation span:last-of-type {
  margin-right: 1.2rem;
}

.playlist .annotations .annotations-text .annotation .annotation-id {
  font-size: 16px;
  line-height: 27px;
}

.playlist .annotations .annotations-text .annotation .annotation-start {
  font-size: 16px;
  line-height: 27px;
}

.playlist .annotations .annotations-text .annotation .annotation-end {
  font-size: 16px;
  line-height: 27px;
}

.playlist .annotations .annotations-text .annotation .annotation-lines {
  -webkit-box-flex: 10;
  flex-grow: 10;
}

.playlist .annotations .annotations-text .annotation .annotation-actions {
  flex-basis: auto;
  width: 80px;
  text-align: right;
  font-size: 16px;
}

.playlist .annotations .annotations-text .annotation .annotation-actions i {
  margin-right: 0.6rem;
}

.playlist .annotations .annotations-text .annotation .annotation-actions i:last-of-type {
  margin-right: 0;
}

.playlist .annotations .annotations-text .annotation .annotation-actions i:hover {
  color: orange;
  cursor: pointer;
}

.playlist .annotations .current {
  background-color: #195ef6;
}

.playlist-toolbar {
  clear: both;
  margin-top: 2em;
}

.center-div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

h1, h2, h3 {
  font-family: 'Amatic SC', cursive;
}

.btn, .btn-large {
  border-radius: 0px;
}

.btn, .btn-large, .btn:focus, .btn-large:focus, .btn:active, .btn-large:active {
  background-color: #EC5261 !important;
  box-shadow: none;
}

.btn:hover, .btn-large:hover {
  background-color: #f6aeb5;
  box-shadow: none;
}

body {
  font-family: 'Raleway', sans-serif;
  position: relative;
}

nav {
  background-color: #fff !important;
  color: #DA2C3D;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  position: fixed;
  top: 0;
  z-index: 5;
}

nav form {
  padding-left: 1rem;
}

nav .input-field {
  color: #DA2C3D !important;
}

nav .input-field input {
  padding-left: 2rem !important;
  border-bottom-color: #DA2C3D !important;
}

nav .input-field i {
  transition: all 0.4s;
  position: absolute;
  top: 0;
}

nav .button-collapse {
  transition: all 0.4s;
  font-size: 2em;
}

.nav-wrapper {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.addheight {
  height: 80px !important;
}

.button-collapse {
  color: #DA2C3D;
}

nav ul li a {
  color: #DA2C3D;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: #EC5261;
  color: #ffffff;
}

.brand-logo {
  font-family: 'Amatic SC', cursive;
  font-size: 3em !important;
  color: #DA2C3D !important;
}

.brand-logo:hover {
  text-decoration: none;
}

#intro {
  height: 100vh;
  width: 100vw;
  background-color: #EC5261;
  position: relative;
}

#intro-message h1, h3 {
  font-size: 10em;
  color: #fff;
  text-align: center;
}

div#intro-message h1, h3 {
  /*text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;*/
}

div#intro-message h3 {
  font-size: 4em !important;
}

div#intro .more {
  position: absolute;
  cursor: pointer;
  text-align: center;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  color: #fff;
}

#about-link {
  width: 100vw;
  height: 95vh;
  background-color: #fff;
  text-align: center;
  color: #2d3035;
  position: relative;
  padding-top: 10%;
}

#about-link .more {
  position: absolute;
  cursor: pointer;
  text-align: center;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  color: #fff;
}

#about-link h3 {
  color: #2d3035;
}

#about-link h2 {
  font-size: 7em;
}

#join {
  text-align: center;
  padding-top: 10%;
  height: 100vh;
  color: #fff;
  background: #1D8E7E;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #15191E, #696E77);
  /* Standard syntax (must be last) */
}

#join .btn-large {
  background-color: #ffffff !important;
  color: #EC5261;
}

#join .btn-large:hover {
  background-color: #EC5261 !important;
  color: #ffffff;
}

#join .notes li {
  display: inline;
  font-size: 4em;
  color: #EC5261;
}

#join .anim {
  -webkit-animation: music 1s ease-in-out both infinite;
  animation: music 1s ease-in-out infinite;
}

@-webkit-keyframes music {
  0%, 100% {
    -webkit-transform: translate3d(0, -10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
}

#join .icons {
  margin-top: 50px;
}

#join .icons > div {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

#join .icons > div:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

#join h2 {
  text-align: center;
  font-size: 7em;
}

#recent-projects {
  width: 100vw;
  height: 100vh;
  padding-top: 5em;
}

#recent-projects .card-action a {
  color: #DA2C3D;
}

#recent-projects h2 {
  font-size: 7em;
}

#recent-projects .card {
  margin: 0 1em 0 1em;
}

#recent-projects .card img {
  width: 100%;
}

footer {
  margin-top: 50px;
}

.project-chart {
  padding-top: 56px;
  width: 100vw;
  background-color: #EC5261;
  color: #ffffff;
  position: relative;
}

.project-chart .subscribe-btn {
  clear: both;
  background-color: #ffffff !important;
  color: #EC5261;
}

.project-chart .subscribe-btn:hover {
  background-color: #EC5261 !important;
  color: #ffffff;
}

.project-chart #chartdiv {
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
  height: 40vh;
  margin-bottom: 2%;
}

.project-chart #chartdiv a {
  display: none !important;
}

.project-chart .contributors {
  clear: both;
  height: 30vh;
}

.project-chart .contributors .contributor {
  transition: all 0.4s;
  border-radius: 5px;
  background-color: #2d3035;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5em;
  height: auto;
}

.project-chart .contributors .contributor .user-img {
  width: 100%;
}

.project-chart .contributors .contributor .user-img h4 {
  color: white;
  margin: 0;
}

.project-chart .contributors .contributor .user-img img {
  width: 70%;
}

.about-project h3 {
  color: #2d3035;
}

#profile {
  height: 100vh;
  width: 100vw;
  background-color: #EC5261;
  position: relative;
}

#profile .card {
  position: relative;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#profile .card .row {
  margin-bottom: 0 !important;
}

#profile .card-header {
  width: 100%;
}

#profile .card-header h3 {
  padding-top: 1em;
  color: #2d3035;
}

#profile .card-content {
  width: 100%;
}

#profile .card-content img {
  width: 100%;
}

#profile .card-content .profile-info {
  margin-left: 1em;
  float: right;
}

#profile .card-content .profile-info p {
  width: 100%;
}

#settings {
  width: 100vw;
  height: 100vh;
  background-color: #EC5261;
  position: relative;
}

#settings .card {
  position: relative;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#settings .card .row {
  margin-bottom: 0 !important;
}

#settings .card-header {
  width: 100%;
}

#settings .card-header h3 {
  padding-top: 1em;
  color: #2d3035;
}

#settings .card-content {
  width: 100%;
}

#settings .card-content img {
  width: 100%;
}

#settings .card-content .profile-info {
  margin-left: 1em;
  float: right;
}

#settings .card-content .profile-info p {
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
