$primary-color : #DA2C3D;
$secondary-color: #2d3035;

.center-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5 {
  font-family: 'Amatic SC', cursive;
}

.btn, .btn-large {
  border-radius: 0px;
}

.btn, .btn-large , .btn:focus, .btn-large:focus, .btn:active, .btn-large:active {
  background-color: $primary-color !important;
  box-shadow: none;
}

.btn:hover, .btn-large:hover {
  background-color: lighten($primary-color, 8%) !important;
  box-shadow: none;
}

body {
  font-family: 'Raleway', sans-serif;
  position: relative;
  overflow-x: hidden;
}

nav {
  form {
    padding-left: 1rem;
  }
  .input-field {
    height: 64px !important;
    color: $primary-color !important;
    input, input:focus {
      padding-left: 2rem !important;
      border-bottom-color: $primary-color !important;
    }
    input:focus {
      border-bottom: 1px solid #DA2C3D !important;
      box-shadow: none !important;
    }
    i {
      transition: all 0.4s;
      position: absolute !important;
      top: 0 !important;
    }
  }

  .button-collapse {
    transition: all 0.4s;
    left: -50px;
  }
  background-color: #fff !important;
  color: #DA2C3D;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  position: fixed;
  top: 0;
  z-index: 5;
}
.nav-wrapper {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  padding: 0 50px;
}
.addheight {
  height: 80px !important;
}

.button-collapse {
  color: #DA2C3D;
}

nav ul li a { color: #DA2C3D; }

nav ul li a:hover {
  text-decoration: none;
  background-color: #EFEFEF;
}
.brand-logo {
  font-family: 'Amatic SC', cursive;
  font-size: 3em !important;
  color: #DA2C3D !important;
}

.brand-logo:hover {
  text-decoration: none;
}
#topbarsearch {


  #autocomplete-input {
    border-bottom: none !important;
    width: auto !important;
    margin-left: 20px;

  }

  #autocomplete-input:focus {
    border-bottom: 1px solid #DA2C3D !important;
    box-shadow: none !important;
  }

  i {
    float: left;
    line-height: 3em;
    color: $primary-color;
  }

}

#intro {
  height: 100vh;
  width: 100vw;
  background-color: #EC5261;
  background: -webkit-linear-gradient(left top, #DA2C3D, #F87E8A);
  background: -o-linear-gradient(bottom right, #DA2C3D, #F87E8A);
  background: -moz-linear-gradient(bottom right, #DA2C3D, #F87E8A);
  background: linear-gradient(to bottom right, #DA2C3D, #F87E8A);
  position: relative;
}
#intro-message h1 {
  font-size: 10em;
  color: #fff;
  text-align: center;
}

div#intro-message h1, h3 {
  /*text-shadow:
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;*/
}

div#intro-message h3 {
  font-size: 4em;
}

div#intro .more {
  position: absolute;
  cursor: pointer;
  text-align: center;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  color: #fff;

}

#about-link {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  text-align: center;
  color: #2d3035;
  position: relative;
  .more {
    position: absolute;
    cursor: pointer;
    text-align: center;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    color: #fff;

  }
  .center-div {
    width: 100%;
    padding: 0 20px;
  }
  h3 {
    color: #2d3035;
    font-size: 3em;
  }
  li {
    
  }
}


#about-link h2 {
  margin-top: 0 !important;
  font-size: 7em;
}

#join {
  text-align: center;
  position: relative;
  min-height: 100vh;
  color: #fff;
  background: #2d3035; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #15191E, #696E77); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #15191E, #696E77); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #15191E, #696E77); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #15191E, #696E77); /* Standard syntax (must be last) */
  .btn-large {
    background-color: #ffffff !important;
  }
  .center-div {
    width: 65%;
  }
  .notes {
    li {
      display: inline;
      font-size: 4em;
      color: #EC5261;
    }
  }
  .anim {
    -webkit-animation: music 1s ease-in-out both infinite;
    animation: music 1s ease-in-out infinite;
  }
  .more {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
  }
  @-webkit-keyframes music {
    0%,100% {
      -webkit-transform: translate3d(0,-10px,0);
    }
    50% {
      -webkit-transform: translate3d(0,10px,0);
    }
  }
}
#join .icons {
  margin-top: 50px;
}

#join .icons > div {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

#join .icons > div:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

#join h2{
  text-align: center;
  font-size: 7em;

}

#recent-projects {
  width: 100vw;
  height: 100%;
  padding-top: 5em;
  margin-bottom: 200px;
}

#recent-projects .card-content {
  h3 {
    max-width: 120px;
    margin-top: 0;
  }
  img {
    position: absolute;
    top: 24px;
    right: 24px;
    max-width: 60px;
  }
}

#recent-projects .card-action a {
  color: #DA2C3D;
}

#recent-projects h2 {
  font-size: 7em;
  margin-bottom: 50px;
}
