$primary-color: #DA2C3D;
$secondary-color: #2d3035;

.loader {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.project-chart {
  .subscribe-btn {
    clear: both;
    background-color: #ffffff !important;
    color: #EC5261;
    &:hover {
      background-color: #EC5261 !important;
      color: #ffffff;
    }
  }
  width: 100vw;
  background-color: #fff;
  color: $secondary-color;
  position: relative;
  #chartdiv {
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
    height: 40vh;
    a {
      display: none !important;
    }
  }

  #contributors-wrapper {

    background: #2d3035;
    padding-top: 10px;
  }
  .contributors {
    clear: both;
    height: 30vh;
    .contributor {
      transition: all 0.4s;
      border-radius: 5px;
      background-color: #2d3035;
      text-align: center;
      box-sizing: border-box;
      padding: 0.5em;
      height: auto;
      .user-img {
        width: 100%;
        h4 {
          color: white;
          margin: 0;
        }
        img {
          width:70%;
        }
      }
    }
  }
}

.about-project {
  padding-top: 56px;
}
.about-project h3, #edit-panel h3, #addtrackwrapper h3 {
    color: #2d3035 !important;
    font-size: 4rem !important;
  }

#addtrackwrapper {
  text-align: center;
  #addTrack {
    padding: 1em;
  }
  padding: 1em;
  button {
    margin-top: 20px;
  };
}

.reply {
  margin-top:0px;
  margin-bottom: 50px;
  padding: 20px;

  textarea {height: 150px;}
}

.player {
  .btn {margin-top: 10px; }

  .btn-pause {background-color: grey !important;}
  .btn-pause:hover {background-color: lighten(grey, 15%) !important;}
  .btn-play {background-color: teal !important;}
  .btn-play:hover {background-color: lighten(teal, 15%) !important;}
  .btn-zoom-in, .btn-zoom-out {background-color: #2196F3 !important;}
  .btn-zoom-in:hover, .btn-zoom-out:hover {background-color: lighten(#2196F3, 15%) !important;}
  .btn-download:hover {background-color: lighten(#ef6c00, 15%) !important;}

}



@media only screen and (max-width: 600px) {
  #addtrackwrapper button { margin-left: 20px }
}
