$charcoal : #525251;
$danger: #d9534f;
$white : #fff;
$grey : #ccc;
$blue : #3498db;
$green : #2ecc71;

html {

}
#app {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: 'Amatic SC', serif;
}

  form.custom-horizontal {
    .btn {
      @media (min-width: 992px) {
        margin-top: 26px;
      }
    }
  }

  .btn.btn-top-mar {
    @media (min-width: 992px) {
      margin-top: 26px;
    }
  }

  .inline {
    display: inline-block;
  }

  .danger-link {
    color: $danger;
  }

  table th, table td {
    padding: 8px;
  }

  img.img-thumbnail {
    border: 2px solid $grey;
    margin-right: 18px;
  }

  .post {
    padding: 8px;
    border-bottom: 1px solid #bbb;
  }

  .badge {
    background-color: $charcoal;
    color: $white;
  }

  .report-text{
    padding-top: 5%;
    a {
      color: $grey !important;
      text-decoration: underline;
    }
    color: lighten($danger, 15%);
  }
  .report-topic {
    padding-right: 6px;
  }

  .msg-container {
    clear: both;
    &:last-of-type {
      margin-bottom: 30px;
    }

    .msg {
      margin: 10px;
      padding: 16px 20px;
      border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      color: #fff;
      &.recipient {
        background: $blue;
      }
      &.sender {
        background: $green;
      }
    }
  }

  .msg-form {
    clear: both;
  }

  .wrapper {
    width: 100%;
    margin: 50px auto;
  }

  p.copyright {
    margin: 15px 0 0;
  }

  .info-index {
    margin-bottom: 20px;
    max-height: 400px;
    overflow: hidden;
    background-color: black;
    height: 100%;
    .info-text {
      h2{
        margin: 0 !important;
      }
      box-sizing: border-box;
      padding: 62px;
      color: white;
    }
    .info-img {
      overflow: hidden;
      padding-right: 0;
      padding-left: 0;
      .img {
        width: 100%;
      }
    }
  }


  footer {
    position: absolute;
    bottom: -100px;
    padding: 2rem;
    background-color: #efefef;
    text-align: center;
    height: 100px;
    width:100%;
  }

  #edit {
    .wrapper {
      background-color: white;
      width: 80%;
      margin-left: 10%;
      margin-top: 20%;
    }
  }

  .pin {
    margin-bottom: 2%;
  }

  .centered {
    text-align: center;
  }

#join, #login, #register, #messages, #project-create {
  background: #15191E; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #15191E, #696E77); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #15191E, #696E77); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #15191E, #696E77); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #15191E, #696E77); /* Standard syntax (must be last) */
}

#login, #register, #messages, #project-create {
  width: 100vw;
  min-height: 100vh;
}

#login .login-form, #register .login-form, #messages .login-form, #project-create .login-form {
  margin-top: 80px;
  text-align: center;
}

#login form, #register form {
  background-color: #fff;
  padding: 30px;
  margin-top: 10vh;
}
#login form .btn, #register .btn {
  margin-bottom: 5px;
}

#messages {
  height: 100%;
  .form {
    padding: 1em 0;
    background-color: #ffffff;
    .btn {
      margin-bottom: 5px;
    }
  }
}
#project-create form {
  background-color: #ffffff;
  margin-top: 2%;
}

input:focus {
  border-bottom: 1px solid #696E77 !important;
  box-shadow: 0 1px 0 0 #696E77 !important;
}

input:focus+label {
  color: #696E77 !important;
}



@media only screen and (max-width: 500px) {
  h1 { font-size: 4em !important; }
  h2 {font-size: 3em !important; }
  h3 {font-size: 2em !important; }

}

// All Projects page


.projects-container {
  .btn-create {
    background-color: #ffffff !important;
    color: #EC5261 !important;
  }
  .input-field {
    width: 60%;
    label {
      color: #ffffff;
    }
    input[type=search] {
      position: relative;
      margin-left: 5%;
    }
  }
  h1 {
    color: #ffffff !important;
  }
  h3 {
    color: #2D3035 !important;
    text-align: center;
  }
  padding-top: 5%;
  background-color: #EC5261;
  min-height: 100vh;
  height: 100%;
  .card-image {
    img {
      max-height: 200px;
      object-fit: cover;
      width:100%;
    }
  }
  .tracks {
    padding: 5px;
    background-color: #2D3035;
    border-radius: 3px;
  }
  .project-info {
    margin-bottom: 50px;
  }
}






